<!DOCTYPE HTML>
<html>
<head>
    <%- include('../fragments/head'); %>
</head>
<body>
<div id="contentDiv">
    <%- include('../fragments/header'); %>

    <div class="wrapper content">
        <div class="box leftSection">
            <div class="tabsMenu">
                <%- tabsMenu %>
            </div>
        </div>

        <div class="box centralSection">
            <div class="dataPanel">
                <%- dataTabs %>
            </div>
        </div>

        <div class="box rightSection">
            <div class="categories">
                <%- categories %>
            </div>
        </div>
    </div>

    <%- include('../fragments/footer'); %>
</div>
<a href="https://www.iubenda.com/privacy-policy/11343380" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
<a href="https://www.iubenda.com/privacy-policy/11343380/cookie-policy" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</body>
</html>
