<!DOCTYPE HTML>
<html>
<head>
    <%- include('../fragments/head'); %>
</head>
<body>
<div id="contentDiv">
    <%- include('../fragments/header'); %>

    <div class="box menuSection">
        <div class="categories">
            <%- categories %>
        </div>
    </div>

    <div class="wrapper content">
        <div class="box leftSection">
            <div class="tabsMenu">
                <%- tabsMenu %>
            </div>
        </div>

        <div class="box centralSection">
            <div class="dataPanel">
                <%- dataTabs %>
            </div>
        </div>
    </div>

    <%- include('../fragments/footer'); %>
</div>
</body>
</html>
