<!DOCTYPE HTML>
<html>
<head>
    <%- include('../fragments/head'); %>
</head>
<body>
    <div id="contentDiv">
        <header>
            <%- include('../fragments/header'); %>
        </header>

        <div class="tabsMenu">
            <%- tabsMenu %>
        </div>

        <div class="dataPanel">
            <div class="activeContent">
                <%- dataTabs %>
            </div>
        </div>

        <div class="categories">
            <%- categories %>
        </div>
    </div>
</body>
</html>
